<div class="row align-items-center mt-5 mb-5 pt-5 pb-5">
  <div class="col-8 pe-5">
    <h4 align="justify">¿Qué es Instare?</h4>
    <p>
      INSTARE es una empresa de
      <strong>Consultoría en asuntos de Capital Humano</strong> vinculada a
      especialistas y académicos de diversos problemas vinculados a la Gestión
      Humana para poder ofrecer a nuestros clientes respuesta en las diversas
      ubicaciones que posean.<br /><br />Instare ofrece un servicio especial,
      diferenciado y de calidad, disponiendo de los últimos avances en el área,
      pudiendo asimismo asistir e intervenir en situaciones específicas gracias
      a la enorme red de conocimiento que facilitan los investigadores de
      psicología del trabajo, diagnóstico, gestión de personal, etc.
    </p>
  </div>
  <div class="col-4">
    <img
      src="images/architecture-1727807_1920.jpg"
      alt="architecture 1727807 1920"
    />
  </div>
</div>
<div class="row align-items-center mt-5 mb-5 pt-5 pb-5">
  <div class="col-4 pe-5">
    <img src="images/blocks-503109_1920.jpg" alt="blocks 503109 1920" />
  </div>
  <div class="col-8">
    <h4 align="justify">¿Cuál es nuestro campo de acción e intervención?</h4>
    <p align="justify">
      Entre otras cosas, buscamos acompañarlo en sus necesidades relacionadas
      con auditorías de su gestión de personal y situación de capital humano,
      calidad, capacitación, desarrollo organizacional y de personal,
      entrenamiento intercultural, gestión del cambio, gestión del conocimiento,
      gestión por competencias, marketing para atracción de capital humano,
      responsabilidad social empresaria, salud en el trabajo, selección y
      evaluación de personal, como cualquier otra necesidad que implica trabajar
      con lo que puede hacer la diferencia entre su organización y sus
      competidores: Las personas.
    </p>
  </div>

  <div class="row align-items-center mt-5 mb-5 pt-5 pb-5">
    <div class="col-8 pe-5">
      <h4 align="justify">¿Y cómo lo hacemos?</h4>
      <p align="justify">
        Trabajando e innovando. Buscando las mejores prácticas, servicios,
        ideas, conceptos, teorías, para poder responder a las necesidades que
        usted tenga. Creando alianzas con los mejores. Actualizándonos de manera
        constante, sin importar la disciplina.
      </p>
    </div>
    <div class="col-4">
      <img src="images/blocks-503109_1920.jpg" alt="blocks 503109 1920" />
    </div>
  </div>
</div>
