// Fonts
$roboto-font-path: '../../../../media/vendor/roboto-fontface/fonts' !default;
@import '../../../../media/vendor/roboto-fontface/scss/roboto/sass/roboto-fontface';

:root {
  --instare-font-family-body: 'Roboto', sans-serif;
  --instare-font-family-headings: 'Roboto', sans-serif;
  --instare-font-weight-headings: 700;
  --instare-font-weight-normal: 400;
}
